@font-face {
    font-family:Gothi;
    src: url(../Fonts/DelaGothicOne-Regular.ttf);
  }

  @font-face {
    font-family: Montser;
    src: url(../Fonts/Montserrat-Regular.ttf);
  }

  *{
    box-sizing: border-box;
   }

.mark{
    width: 1680px;
    padding:0px auto;
}

.menu_blok {
    display: flex;
    align-items: center;
    height: 84px;

    background: #F6F5F4;
    box-shadow: inset 0px -1px 0px #E0E0E0;
}

.menu1 {
    display: flex;
    margin: 0px auto;
    height: 36px;
}


.menu2{
    width: 162px;
    height: 36px;
    margin: 0px auto;
}

.text13{
    font-family:Montser;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;

    color: #000000;
}

.btn4{
    width: 90px;
    height: 36px;
    background: #2B788B;
    border: none;
    border-radius: 12px;

    font-family:Montser;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;

    color: #FFFFFF;
}

.text1{
    margin-right: 30px;
    font-family:Gothi;
    font-style: normal;
    font-weight: 400;
    font-size: 20.8609px;
    line-height: 100%;
    
    color: #000000;  
}

.text2{
    margin-right: 30px;
    height: 16.87px;
    color: #E0E0E0;
}

.text3{
    margin-right: 30px;

    font-family: Montser;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;

    color: #000000;
}

.text4{ 
    margin-right: 30px;
    font-family:Montser;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;

    color: #757575;
}

.text5{
    margin-right: 30px;
    font-family:Montser;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;

    color: #757575;
}

.dropbtn{
    border: none;
    background: #F6F5F4;

    font-family:Montser;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    
    color: #757575;
}

.dropdown {
    position: relative;
    display: inline-block;
    
    flex-grow: 0;
  }

.dropdown-content  {
    padding: 20px;
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 215px;
    height: 92px;
    box-shadow: 0px 343.472px 343.472px rgba(52, 41, 39, 0.08);

    background-color: #FFFFFF;
    border-radius: 14px;
}

.dropdown-content a {
    border-radius: 14px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #FFFFFF;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #F6F5F4;}

.sprint {
    font-family:Montser;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;

    color: #333333;

}

.audio{
    font-family: Montser;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    ma

    color: #828282;
}

.mark1{            
    width: 1680px;
    padding: 0 auto;
    background: #F6F5F4;
}

.dec {
    background: #F6F5F4;
    display: flex;
    margin: 0px auto;
}

.dec10{
    width: 221px;
    height: 16px;
    margin-bottom: 24px;
}

.dec11{
    width: 531px;
    height: 201px;
    margin-bottom: 30px;
}

.dec_blok{
    width: 531px;
    margin: 0px auto;
}

.dec_blok1{
    height: 510px;
    width: 614px;
    margin-top: 95px;
    margin-left: 33px;
}

.text6{
    font-family:Montser;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;

    color: #2B788B;
}
.text7{
    line-height: 120%;
    font-family: Gothi;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;

    color: #000000;
}

.text8{
    font-family: Montser;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;

    color: #757575;
}

.btn1{
    width: 165px;
    height: 44px;

    background: #C3DCE3;
    border-radius: 100px;
    border: none;

    font-family:  Montser;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;

    color: #2B788B;
    }

.dec_content{
   display: flex;

}

.dec2{
    margin-top: 48px;
    margin-right: 48px;
    height: 65px;
}

.dec3{
    height: 65px;
    margin-top: 48px;
    margin-left: 48px;
}

.text9{
    font-family:Gothi;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;

    color: #000000;
    }

    .text11{
        font-family:Gothi;
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 100%;
        
        color:#2B788B;
        margin-right: 48,78;
    }

    .text10{
        font-family:Montser;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;

        color: #585858;
    }

    .dec_area{
        margin-top: 48px;
    }

    .text12{
        font-size:48.78px;
        height: 48.78px;
        color: #E0E0E0;   
    }

    .text14{
        font-family:Gothi;
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 100%;
        
        color: #000000;  
    }

    .text15{
        font-family:Gothi;
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 100%;
        
        color:#2B788B;  
    }

    .text16{
        font-family:Montser;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        
        color: #585858;
    }

    .mark2{
        width: 1680px;
        padding: 0px auto;
    }

.box{
    background: #FFFFFF;
    height: 600px;
    margin-left: 230px;
    display: flex;
}

.box1{
    width: 580px;
    height: 445px;
    margin-top: 77.5px;
    
}

.box2{
   margin-top: 121.5px;
   margin-bottom: 127px;
   height: 351.5px;
}

.box10{
margin-bottom: 30px;
}

.text17{
    width: 474.46px;
    height: 96px;
    
    font-family:Gothi;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -0.04em;

    color: #000000;
}

.text18{
    padding-top: 30px;
    font-family:Montser;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    
    color: #757575;
}

.box4{
    width: 131px;
    height: 145px;
    background: #F2D4DC;
    border-radius: 14px;
    margin-right: 21.05px;
}

.text19{
    margin-top: 19px;
    text-align: center;
    font-family: Montser;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;

    color: #945069;
}

.text20{
    text-align: center;
    font-family: Montser;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;

    color: #2B788B;
}

.box5{
    background: #C3DCE3;
    border-radius: 14px;
    width: 172px;
    height: 145px;
}

.box3{
    display: flex;
    padding-top: 30.5px;
}

.mark3{
    width: 1680px;
    margin: 0px auto;
    background: #F6F5F4;
}

.main {
    background: #F6F5F4;
    display: flex;
    height: 500px;
    padding: 0px auto;
    margin-left: 230px;
}

.main1{
    width: 474px;
    height: 254px;
}

.mein2{
    width: 580px;
    height: 473px;
}
 
p{
 margin-bottom: 30px;
 width: 474px;
 height: 96px;
}

.text21{
    font-family: Gothi;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;

    color: #000000;
}

.text22{
    font-family:Montser;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;

    color: #757575;
}

.btn6{
    width: 131px;
    height: 44px;
    margin-top: 34px;

    background: #C3DCE3;
    border-radius: 100px;
    border: none;

    font-family:Montser;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;

    color: #2B788B;
}

.mark4{
    width: 1680px;
    margin: 0 auto;
    background: #FFFFFF;
}

.ball {
    background: #FFFFFF;
    display: flex;
    padding: 0px auto;
    margin-left: 230px;
}

.ball1{

    height: 409px;
    padding-top: 95px;
}

.ball2{
    width: 474px;
    height: 302px;
}

.ball4{
    margin-bottom: 30px;
}

.text23{
    font-family: Gothi;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;

    color: #000000;
}

.text24{
    font-family: Montser;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;

    color: #757575;
}

.btn7{
    width: 129px;
    height: 44px;
    margin-top: 34px;

    background: #C3DCE3;
    border-radius: 100px;
    border: none;

    font-family:Montser;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;

    color: #2B788B;
}

.mark5{
    width: 1680px;
   margin: 0 auto;
    background: #F6F5F4;
}

.footer{
    background: #F6F5F4;
    height: 160px;
    padding: 0px auto;
    margin-left: 230px;
}

.footer1 {
    display: flex;
    padding-top: 40px;
    padding-bottom: 20px;
}

.footer2{
   padding: 0px;
}

.footer3{
    margin-left: 569px;
    padding: 0px;
}

.text25{
    margin-right: 21.5px;
    font-family: Montser;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;

    color: #757575;
}

.text26{
    margin-right: 21.5px;
    font-family: Montser;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;

    color: #757575;
}

.footer4 {
    display: flex;
    padding-top: 23.5px;
    padding-bottom: 43.06px;
}

.footer_image {
    display: flex;
    width: 150px;
    height: 24px;
}

.footer_image1{
    Width:24.81px;
    height:19.87px;
    margin-right: 33.5px;
    background: #BABABA;;
}

.footer_image2{
    margin-right: 33.5px;
    width: 27.9px;
    height: 18.73px;
}

.footer_text{
    width: 249px;
    height: 12px;
    margin-left: 783px;
    
}

.text28{
    font-family:Montser;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;

    color: #757575;
}